* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: rgb(65, 65, 244);
    height: 100vh;
    display: grid;
    grid-template: repeat(2, 50px) repeat(3, 1fr) 50px / repeat(5, 1fr);
}

header {
    background-color: brown;
    grid-area: 1 / 1 / span 1 / span 5;
}

header h1 {
    text-align: center;
}

nav.menu {
    background-color: brown;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    grid-area: 2 / 1 / span 1 / span 5;
}

nav.menu a {
    color: white;
    text-decoration: none;
}


section.conteudo {
    background-color: white;
    grid-area: 3 / 1 / span 3 / span 4;
}

section.conteudo h2 {
    text-align: center;
    margin: 10px;
}

section.conteudo p {
    text-indent: 30px;
    text-align: justify;
    margin: 10px;
}


aside.ads {
    color: white;
    grid-area: 3 / 5 / span 3 / span 1;
}

aside.ads h2 {
    text-indent: 30px;
    text-align: justify;
    padding: 10px;
}

footer {
    background-color: black;
    color: white;
    grid-area: 6 / 1 / span 1/ -1;
}

footer h2 {
    text-align: center;
    padding: 10px;
}